TCui/Connected Services/TCService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CelsiumToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsium" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiumToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiumToFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiumToKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsium" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiumToKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiumToKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelsium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelsiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitToCelsiumResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitToKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToCelsium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToCelsiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinToCelsiumResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinToFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>